<mat-progress-bar mode="determinate" value="43" style="height: 2vh; transform: rotateY(180deg);"></mat-progress-bar>
<mat-grid-list cols="3" rowHeight="98%">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style]="tile.style">
    <div [innerHTML]="tile.image" [style]="tile.css"></div>
  </mat-grid-tile>
</mat-grid-list>

<audio autoplay loop #audio oncanplay="this.play()" onloadedmetadata="this.muted = false">
  <source [src]="audioPath" type="audio/mp3">
</audio>
