<mat-progress-bar mode="determinate" value="43" style="height: 2vh; transform: rotateY(180deg);"></mat-progress-bar>

<mat-grid-list cols="3" rowHeight="98%">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      [style]="tile.style">
    <div [innerHTML]="tile.image"></div>
  </mat-grid-tile>
</mat-grid-list>

<!-- <iframe type="audio/mp3" allow="autoplay" style="display: none"
  src="assets/sounds/ysr.mp3">
</iframe> -->

<audio autoplay loop #audio>
  <source [src]="audioPath" type="audio/mp3">
</audio>
