.q1 {
  position: fixed;
  width: 29.6vh;
  height: auto;
  top: 6.1vh;
  right: 100.3vh;
  animation: vertical-shaking-deku 0.33s infinite;
}

.q1_tx1 {
  position: fixed;
  width: 4.3vh;
  height: auto;
  top: 7vh;
  right: 102.1vh;
}

.q2 {
  position: fixed;
  width: 28.8vh;
  height: auto;
  top: 6.5vh;
  right: 69.9vh;
  animation: vertical-shaking-todoroki 0.33s infinite;
}

.q2_tx1 {
  position: fixed;
  width: 12.4vh;
  height: auto;
  top: 6.5vh;
  right: 86.6vh;
}

.q3-q4 {
  position: fixed;
  width: 60vh;
  height: auto;
  top: 71.1vh;
  right: 69.7vh;
  animation: vertical-shaking-quadro-3-4 1.6s infinite;
}

.q3-q4_tx1 {
  position: fixed;
  width: 26.4vh;
  height: auto;
  top: 72.6vh;
  right: 100.7vh;
}

.q3-q4_tx2 {
  position: fixed;
  width: 5.2vh;
  height: auto;
  top: 79vh;
  right: 73.1vh;
}

@keyframes vertical-shaking-deku {
  40% { transform: translateY(0px) }
  86% { transform: translate(2px, 6px) }
  10% { transform: translateY(-10px) }
  25% { transform: translateY(100px) }
  25% { transform: translateX(-5px) }
  0% { transform: translateY(-5px) }
}

@keyframes vertical-shaking-todoroki {
  40% { transform: translateY(0px) }
  83% { transform: translate(2px, -6px) }
  10% { transform: translateY(-10px) }
  25% { transform: translateY(100px) }
  25% { transform: translateX(-5px) }
  0% { transform: translateY(-5px) }
}

@keyframes vertical-shaking-quadro-3-4 {
  60% { transform: translate(-7px, -4px) }
  25% { transform: translateX(-2px) }
  25% { transform: translateX(3px) }
  0% { transform: translateY(-1px) }
}