@use '@angular/material' as mat;
@import '~@angular/material/theming';

@include mat.core();

$mat-blue: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #030303,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$editor_client-primary: mat-palette($mat-blue, A700);
$editor_client-accent: mat-palette($mat-gray, A200, A100, A400);
$editor_client-warn: mat-palette($mat-red);

$editor_client-theme: mat.define-light-theme((
  color: (
    primary: $editor_client-primary,
    accent: $editor_client-accent,
    warn: $editor_client-warn,
  )
));

@include mat.all-component-themes($editor_client-theme);

html, body { height: 100%; background-color: #FCFCFC;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
